<!DOCTYPE html>
<html lang="en">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body>
        {{ partial "cover.html" . }}
        <main id="content">
            {{ partial "metadata.html" . }}
            {{ block "main" . }}{{ end }}

            <!-- Copyright blah blah (just in case when no JS) -->
            {{ with .Site.Copyright }}{{ . }}{{ end }}
        </main>
        {{ partial "float.html" . }}
        {{ partial "menu.html" .}}
        {{ partialCached "assets.html" . }}
    </body>
</html>
