{{ $id := $.Get "id" }}
{{ $sub_id := $.Get "sub_id" }}
{{ $objsJSON := getJSON ($.Get "url") }}
{{ $objs := index $objsJSON $id }}
{{ $obj := index $objs $sub_id }}
{{ with $obj }}
    <fieldset class="w3-half">
        <legend>General Info</legend>
        {{ with $.Get "noActions" }}{{ else }}
            {{ if ne .url nil }}
                <a href="{{ .url }}" aria-label="view the source document">
                    {{ partial "icon.html" "mdi-eye" }}View
                </a>
                <br>
                <iframe width="100%" height="400rem" src="{{ .url }}">This part requires iframes.</iframe>
                <br>
            {{ end }}
        {{ end }}
        {{ with $.Get "noName" }}{{ else }}
            {{ if ne .q nil }}
                Question: <i>{{ .q }}</i>
                <br/>
            {{ end }}
        {{ end }}
        {{ with $.Get "noNotice" }}{{ else }}
            {{ if ne .html nil }}
                {{ .html | safeHTML }}
                <br/>
            {{ end }}
        {{ end }}
        {{ with $.Get "noMtgDetails" }}{{ else }}
            {{/* make sure there is no dangling label */}}
            {{ if or (ne .when nil) (ne .where nil) }}
                Meeting Details:
                {{ if ne .when nil }}{{ delimit .when ", " | markdownify }}{{ end }}
                {{ if ne .where nil }}at {{ delimit .where ", " | markdownify }}{{ end }}
            {{ end }}
            <br/>
        {{ end }}
    </fieldset>
    <!-- governnce is covered by taxonomies -->
    {{/* {{ with $.Get "noGovernance" }}{{ else }}
        <fieldset class="w3-half">
            <legend>Governance</legend>
            {{ if ne .presidents nil }}
                Presidents:
                {{ delimit .presidents ", " }}
                <br/>
            {{ end }}
            {{ if ne .execs nil }}
                Execs:
                {{ delimit .execs ", " }}
                <br/>
            {{ end }}
            {{ if ne .staff nil }}
                Staff:
                {{ $lastStaff := sub (len .staff) 1 }}
                {{ range $i, $staff := .staff }}
                    <a href="mailto:{{ $staff }}">
                        {{ partial "icon.html" "mdi-email" }}
                        {{ $staff }}
                    </a>
                    {{ if ne $i $lastStaff }}<br/>{{ end }}
                {{ end }}
            {{ end }}
        </fieldset>
    {{ end }} */}}
    {{ with $.Get "noSocials" }}{{ else }}
        {{ if ne .socials nil }}
            <fieldset>
                <legend>Socials</legend>
                <ul style="list-style: none; padding-left: 0;">
                    {{ $lastSocials := sub (len .socials) 1 }}
                    {{ range $j, $social := .socials }}
                        {{ $type := index $social 0 }}
                        {{ $id := index $social 1 }}
                        {{ $url := index $social 2 }}

                        {{ if eq $type "instagram" }}
                            <li><a aria-label="Instagram Account {{ $id }}" href="https://instagram.com/{{ $id }}">
                                    <span class="iconify" data-icon="mdi-instagram">(Instagram)</span>
                                    {{ $id }}
                                </a></li>
                        {{ else if eq $type "facebook" }}
                            <li><a aria-label="Facebook Account {{ $id }}"
                                   href="https://facebook.com{{ with $url }}{{ . }}{{ end }}">
                                    <span class="iconify" data-icon="mdi-facebook">(Facebook)</span>
                                    {{ $id }}
                                </a></li>
                        {{ else if eq $type "email" }}
                            <li><a aria-label="Email Address {{ $id }}" href="mailto:{{ $id }}">
                                    <span class="iconify" data-icon="mdi-email">(Email)</span>
                                    {{ $id }}
                                </a></li>
                        {{ else if eq $type "hidden" }}
                            <!-- nothing! -->u
                        {{ else }}
                            <li><a aria-label="Social Media ({{ $type }}) Account {{ $id }}" href="#">
                                    ({{ $type }}) {{ $id }}
                                </a></li>
                        {{ end }}
                        {{ if ne $j $lastSocials }}<br/>{{ end }}
                    {{ end }}
                </ul>
            </fieldset>
        {{ end }}
    {{ end }}
    {{ with $.Get "noDesc" }}{{ else }}
        {{ if ne .desc nil }}
            <fieldset>
                <legend>Description</legend>
                {{ replace .desc "\n" "<br>" | safeHTML }}
                {{ with $.Get "noImage" }}{{ else }}
                    {{ if ne .image nil }}
                        <img src="{{ .image }}" alt="image of {{ .name }}" style="width: 100%;"/>
                    {{ end }}
                {{ end }}
            </fieldset>
        {{ end }}
        {{ if ne .a nil }}
            <fieldset>
                <legend>Answer</legend>
                {{ replace .desc "\n" "<br>" | safeHTML }}
                {{ with $.Get "noImage" }}{{ else }}
                    {{ if ne .image nil }}
                        <img src="{{ .image }}" alt="image of {{ .name }}" style="width: 100%;"/>
                    {{ end }}
                {{ end }}
            </fieldset>
        {{ end }}
    {{ end }}
{{ end }}
