<div class="w3-content w3-half w3-margin">
    <figure>
            <picture class="w3-round-large">
                <source srcset="{{ .Destination | safeURL }}.jxl" type="image/jxl">
                <source srcset="{{ .Destination | safeURL }}.webp" type="image/webp">
                <source srcset="{{ .Destination | safeURL }}.avif" type="image/avif">
                <img class="w3-round-large" src="{{ .Destination | safeURL }}" alt="{{ .Text }}" title="{{ .Title }}" width="100%"/>
            </picture>
            <figcaption>
                {{ .Title }}
            </figcaption>
    </figure>
</div>
