<div id="menu-float">
    <a class="w3-bar-item w3-right" id="menu-toggle" href="#menu" onclick="toggleMenu()">
        {{ partial "icon.html" "mdi-menu" }}
        {{ i18n "menu" }}
    </a>
</div>

<div id="search-float">
    <div class="w3-bar">
        <div class="w3-bar-item">
            {{ .Title }}
        </div>
        <input class="w3-bar-item" style="width: 100%; display: none;" id="search-bar" placeholder="Search Website..." aria-label="Search Website..." />
    </div>
    <ul id="search-results"></ul>
</div>
