<section id="menu">
    <div id="menu-toc" style="float: left; max-width: 50%">
        <h2>{{ i18n "toc" }}</h2>
        {{ .Page.TableOfContents }}
    </div>
    <div id="menu-menu" style="float: right; min-width: 50%">
        <nav>
            <!-- Menu -->
            {{ range .Site.Menus.main }}
                <a style="width: 50%;" href="{{ .URL }}" aria-label="{{ .Title }}"
                   title="{{ .Title }}">{{ partial "icon.html" .Pre }} {{ .Name }}</a>
            {{ end }}
        </nav>

        <!-- All Translations -->
        <span class="iconify" data-icon="mdi-translate"></span>
        {{ i18n "all-translations" }}
        <ul>
            {{ range $.Site.Home.AllTranslations }}
                <li><a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
            {{ end }}
        </ul>

            <!-- Last changed -->
        {{ with .Site.LastChange }}
            {{ partial "icon.html" "mdi-clock" }}
            {{ partial "icon.html" "mdi-source-branch-refresh" }}
            <abbr aria-label="Site last change time" title='{{ dateFormat "2006-01-02T15:04:05.999999999Z07:00" . }}'>
                {{ dateFormat $.Site.Params.timeFmt . }}
            </abbr><br/>
        {{ end }}

        <!-- Build time -->
        {{ partial "icon.html" "mdi-clock" }}
            {{ partial "icon.html" "mdi-hammer-wrench" }}
        <abbr aria-label="Site build time" title='{{ now.Format "2006-01-02T15:04:05.999999999Z07:00" }}'>
            {{ now.Format $.Site.Params.timeFmt }}
        </abbr><br/>

            <!-- Tip? -->
        {{ if .Site.Params.tip }}
            {{ partial "icon.html" "mdi-source-branch-sync" }}
            Pipeline <a href="https://gitlab.com/nsssac/nsssac.gitlab.io/-/pipelines/{{ .Site.Params.ci_pipeline_id }}">#{{ .Site.Params.ci_pipeline_id }}</a>
            <br/>
            <a aria-label="GitLab CI Pipeline Status" href="https://gitlab.com/nsssac/nsssac.gitlab.io/-/pipelines"><img
                        style="height: 1em;"
                        src="https://gitlab.com/nsssac/tip/badges/master/pipeline.svg?style=flat-square"
                        alt="GitLab CI Pipeline Status for Tip"
                /></a>
        {{ end }}

        <!-- Git info -->
        {{ with .GitInfo }}
            <details>
                <summary>
                    {{ partial "icon.html" "mdi-git" }}
                    <abbr title="{{ .Hash }}">{{ .AbbreviatedHash }}</abbr>
                    <a style="font-family: monospace;"
                       href="https://github.com/nsssac/nsssac.github.io/commit/{{ .Hash }}">
                        {{ partial "icon.html" "mdi-github" }}
                    </a>
                    <a style="font-family: monospace;"
                       href="https://gitlab.com/nsssac/nsssac.gitlab.io/-/commit/{{ .Hash }}">
                        {{ partial "icon.html" "mdi-gitlab" }}
                    </a>
                </summary>
                Commit by
                <a href="mailto:{{ .AuthorEmail }}">{{ .AuthorName }}</a>
                on
                <abbr title='{{ dateFormat "2006-01-02T15:04:05.999999999Z07:00" .AuthorDate }}'>
                    {{ dateFormat $.Site.Params.timeFmt .AuthorDate }}
                </abbr>:
                <blockquote>{{ .Subject }}</blockquote>
            </details>
            <br/>
        {{ end }}

        <!-- Copyright blah blah -->
        {{ with .Site.Copyright }}{{ . }} • {{ end }}

        <!-- User defined links -->
        {{ partialCached "links.html" . }}

        <!-- Attribution -->
        Site and <a href="https://gohugo.io">Hugo</a> theme Plain by
        <a href="https://gitlab.com/colourdelete">Ken Shibata • <code>colourdelete</code></a>
        and
        <a href="https://gitlab.com/twotxh"><span style="font-family: monospace;">twotxh</span></a>.

        <div id="settings">
            <h3>{{ partial "icon.html" "mdi-cog" }}{{ i18n "settings" }}</h3>
            <div class="w3-half">
                <label>
                    {{ partial "icon.html" "mdi-brightness-6" }}Theme
                    <select id="select-theme" aria-label="Select Theme" onchange="updateTheme()">
                        <option value="light">Light</option>
                        <option value="dark">Dark</option>
                    </select>
                </label>
            </div>
            <div class="w3-half">
                <label for="anim-delay-input">
                    {{ partial "icon.html" "mdi-transition" }}
                    {{ i18n "anim-len" }}
                </label>
                <input id="anim-delay-input">
                <button onclick="setAnimDelay(null)">
                    {{ partial "icon.html" "mdi-check" }}
                    Apply
                </button>
            </div>
            <div class="w3-half">
                <label>
                    {{ i18n "hover-details-open" }}
                    <input id="hover-details-open-input" type="checkbox" onchange="updateHoverDetailsOpenInput()">
                </label>
                <script>
                    hoverDetailsOpen = localStorage.getItem('hover-details-open') === 'yes';

                    function updateHoverDetailsOpenInput() {
                        hoverDetailsOpen = document.getElementById('hover-details-open-input').checked;
                        if (hoverDetailsOpen) {
                            localStorage.setItem('hover-details-open', 'yes');
                        } else {
                            localStorage.setItem('hover-details-open', 'no');
                        }
                    }
                </script>
            </div>
        </div>

    </div>
    <script>
        function menuLayout() {
            const rootMenu = document.getElementById("menu");
            const menu = document.getElementById("menu-menu");
            const toc = document.getElementById("menu-toc");
            menu.style.width = (rootMenu.offsetWidth - toc.offsetWidth - 6).toString() + "px";
            toc.style.width = toc.offsetWidth.toString() + "px";
        }

        menuLayout()
    </script>
</section>
