{{ $typesJSON := getJSON "http://gitlab.com/nsssac/data/-/raw/master/types.json" }}
{{ $typesData := index $typesJSON "types" }}

<section id="meta">
    <h1 style="visibility: hidden">Hi :)</h1>
    <h1>{{ .Page.Title }}</h1>

    <div class="w3-bar">
        <div class="w3-bar-item">
            <!-- page actions -->
            <div class="w3-bar">
                {{ with .File }}
                    <div class="w3-bar-item">
                        <a href="https://gitlab.com/nsssac/nsssac.gitlab.io/-/blob/master/nsssac/content/{{ .Path }}">
                            {{ partial "icon.html" "mdi-eye" }}
                            {{ i18n "view-page" }}
                        </a>
                    </div>
                    <div class="w3-bar-item">
                        <a href="https://gitlab.com/nsssac/nsssac.gitlab.io/-/edit/master/nsssac/content/{{ .Path }}">
                            {{ partial "icon.html" "mdi-eye" }}
                            {{ i18n "edit-page" }}
                        </a>
                    </div>
                {{ end }}
            </div>
        </div>
        <div class="w3-bar-item">
            <!-- translations -->
            <div class="w3-bar">
                {{ if .IsTranslated }}
                    <div class="w3-bar-item">
                        {{ partial "icon.html" "mdi-translate" }}
                        {{ i18n "translations" }}
                    </div>
                    {{ range .Translations }}
                        {{ $icon := "" }}
                        {{ if eq (print .Lang) "jp" }}
                            {{ $icon = "🇯🇵" }}
                        {{ else if eq (print .Lang) "en" }}
                            {{ $icon = "🇨🇦" }}
                        {{ end }}
                        <div class="w3-bar-item">
                            <a href="{{ .Permalink }}"><abbr
                                        title="{{ .Title }}">{{ $icon }}<code>{{ .Lang }}</code></abbr></a>
                        </div>
                    {{ end }}
                {{ end }}
            </div>
        </div>

        <div class="w3-bar-item">
            <!-- Some stats about the page -->
            <div class="w3-bar">
                <div class="w3-bar-item">
            <span class="iconify"
                  data-icon="mdi-book-open"></span> {{ .Page.ReadingTime }} {{ i18n "unit-minute" .Page.ReadingTime }}
                </div>
                <div class="w3-bar-item">
                    {{ partial "icon.html" "mdi-text" }}
                    {{ .WordCount }} {{ i18n "word-count" .WordCount }}
                </div>
                {{ if ne (.Date.Format "2006-01-02T15:04:05") "1970-01-01T00:00:00" }}
                    <div class="w3-bar-item">
                        {{ partial "icon.html" "mdi-calendar" }}
                        <abbr
                                title='{{ .Date.Format "2006-01-02T15:04:05.999999999Z07:00" }}'>{{ .Date.Format $.Site.Params.timeFmt }}</abbr>
                    </div>
                {{ end }}
            </div>
        </div>
        <div class="w3-bar-item">
            <div class="w3-bar">
                <!-- Alternative output formats (eg RSS) -->
                {{ $fmtLen := (len .AlternativeOutputFormats) }}
                {{ range $i, $fmt := .AlternativeOutputFormats }}
                    {{ $type := $fmt.MediaType.Type }}
                    <div class="w3-bar-item">
                        <a href="{{ $fmt.Permalink | safeURL }}" aria-label='{{ i18n " alt-format" }}: {{ $type }}'>
                            {{ if in $type "application/rss" }}
                                <!-- Special case for RSS (icon) -->
                                {{ partial "icon.html" "mdi-rss" }}
                                RSS
                            {{ else }}
                                <code>{{ $type }}</code>
                            {{ end }}
                        </a>
                    </div>
                {{ end }}
                <div class="w3-bar-item">

                </div>
            </div>
        </div>
        {{ range $key, $taxonomy := .Site.Taxonomies }}
            <div class="w3-bar-item">
                <div class="w3-bar-block">
                    {{ if ne (len ($.Page.GetTerms $key)) 0 }}
                        <div class="w3-bar-item">
                            {{ $types := split $key " " }}
                            {{ $name := "" }}
                            {{ range $_, $type := $types }}
                                {{ $type := index $typesData . }}
                                {{ if eq $type nil}}
                                    {{ $name = printf "%s %s" $name .}}
                                {{ else }}
                                    {{ range $icon := $type.icons }}
                                        {{ partial "icon.html" $icon }}
                                    {{ end }}
                                    {{ $name = printf "%s %s" $name $type.name}}
                                {{ end }}
                            {{ end }}
                            {{ $name }}
                        </div>

                        {{ with $list := ($.Page.GetTerms $key) }}
                            {{ $icons := slice }}
                            {{ $desc := ""}}
                            {{ range $list }}
                                {{ if ne .LinkTitle "no-show"}}
                                    <div class="w3-bar-item">
                                        <a href="{{ .RelPermalink }}">
                                            {{ $types := split .LinkTitle " " }}
                                            {{ $name := "" }}
                                            {{ range $_, $type := $types }}
                                                {{ $type := index $typesData . }}
                                                {{ if eq $type nil}}
                                                    {{ $name = printf "%s %s" $name .}}
                                                {{ else }}
                                                    {{ range $icon := $type.icons }}
                                                        {{ partial "icon.html" $icon }}
                                                    {{ end }}
                                                    {{ $name = printf "%s %s" $name $type.name}}
                                                {{ end }}
                                            {{ end }}
                                            {{ $name }}
                                        </a>
                                    </div>
                                {{ end }}
                            {{ end }}
                        {{ end }}
                    {{ end }}
                </div>
            </div>
        {{ end }}
    </div>
</section>