/* plain.scss - A simple SCSS file */

@use "w3.css";

:root {
  --anim-delay: 0.5s;
}

* {
  @extend .w3-mobile;
  @extend .accent-text;
  scroll-behavior: smooth;
  background-color: transparent;
}

*:target {
  padding-top: 3em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Work Sans", sans-serif;
}

.icon {
  width: 1rem !important;
  color: inherit !important;
  @media only screen and (max-width: 600px) {
    display: none !important;
  }
}


script, style {
  display: none;
}

table, th, td {
  @extend .w3-padding;
  border-collapse: collapse;
  border-color: var(--accent-fg);
  border-width: 0.1em;
}

#days-div {
  width: 20rem;

  #days-today, #days-tomorrow {
    font-weight: bold;
  }
}

th {
  // https://css-tricks.com/position-sticky-and-table-headers/
  position: sticky;
  top: 0;
  // make sure th is over iconify icons
  z-index: 1;
}

tr:nth-child(even) * {
  @extend .accent-plain;
}

fieldset {
  @extend .w3-margin;
}

body {
  padding: 0;
}

code {
  font-family: monospace;
}

figure {
  @extend .w3-image;
}

#content {
  @extend .w3-padding;
  margin-bottom: 10vh;
}

// too much lag
//#menu:target {
//  left: 0;
//}

#menu {
  @extend .delay;
  position: fixed;
  top: 0;
  left: -100vw;
  z-index: 30;
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

a * {
  @extend .delay;
  @extend .w3-text-teal;
  @extend .w3-hover-text-deep-purple;
  text-decoration: none;
}

.accent-plain {
  color: var(--accent-fg) !important;
  background-color: var(--accent-plain) !important;
}

.accent {
  color: var(--accent-bg) !important;
  background-color: var(--accent-fg) !important;
}

.accent-text {
  color: var(--accent-fg) !important;
  background-color: var(--accent-bg) !important;
}

.delay {
  transition: var(--anim-delay);
}

.pad {
  padding: 0.5rem;
}

input {
  @extend .w3-input;
  @extend .w3-card-4;
}

section {
  @extend .w3-container;
}

img {
  width: 100%;
}

.button, button {
  @extend .w3-button;
  @extend .w3-border;
  @extend .delay;
  @extend .accent-text;
  @extend .w3-round-large;
  @extend .w3-ripple;
}

.button:hover, button:hover {
  @extend .accent;
}

#menu-float {
  @extend .w3-card-4;
  @extend .w3-round-xxlarge;
  @extend .w3-padding;
  @extend .w3-margin;
  z-index: 50;
  top: 0;
  left: 0;
  position: fixed;
}

// Search

#search-float {
  @extend .w3-card-4;
  z-index: 40;
  position: fixed;
  display: inline;
  bottom: 0;
  left: 0;
  width: 100vw;
  max-height: 100vh;

  ul {
    @extend .w3-bar-block;
    display: none;
  }

  #search-results {
    @extend .w3-bar-block;
    overflow: auto;
    background-color: transparent;

    * {
      @extend .w3-bar-item;
      background-color: transparent;
    }
  }
}

// Sidebar

aside {
  @extend .w3-margin-right;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  height: 100%;
  overflow: auto;
}

main {
  @extend .w3-padding;
}

// Side Navigation

nav:not(#TableOfContents) {
  @extend .w3-bar;
}

header nav, aside nav {
  @extend .w3-bar-block;
}

nav a {
  @extend .w3-bar-item;
  @extend .accent-text;
}

nav a :hover {
  @extend .accent;
}

#topnav {
  width: 100%;
  padding: 0;
}

#sidenav {
  @extend .delay;
  height: 100%;
  padding: 0;
}

#sidenav-section {
  display: none;
}

#sidenav-close {
  display: none;
}

#search-results {
  padding-left: 0;
}

#sidefloat {
  @extend .accent-text;
  left: 0;
  bottom: 2em;
  position: fixed;
  z-index: 30;
  border-radius: 0 2em 2em 0;
  border-width: 0;
  border-style: none;
}

#sidefloat-icon {
  @extend .delay;
}

blockquote {
  @extend .w3-leftbar;
  @extend .w3-panel;
}

// Cover

#cover {
  height: 100%;
}

#cover-img {
  @extend .delay;
  height: 100%;
  position: fixed;
  z-index: 0;
}

#cover-hint {
  @extend .accent-text;
  @extend .w3-round-xxlarge;
  left: 50%;
  bottom: 1em;
  position: fixed;
  z-index: 30;

  padding: 0.5em;

  border-width: 0;
  border-style: none;

  animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

#cover-hint-text {
  display: none;
}

#cover-hint:hover > #cover-hint-text {
  display: block;
}

#cover-hint:hover > .iconify {
  display: none;
}

#cover-hint .iconify {
  font-size: xx-large;
  padding: 0;
  margin: 0;
}

@keyframes bounce {
  0% {
    bottom: 2em;
  }
  50% {
    bottom: 1em;
  }
  100% {
    bottom: 2em;
  }
}
